<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gapcoder.weico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon,android:theme,android:allowBackup"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.Login"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:label="" />
        <activity
            android:name=".Index.index"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".Post"
            android:label=""
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Title.Title"
            android:label="" />
        <activity
            android:name=".User.User"
            android:label="" />
        <activity
            android:name=".Web"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Account.Account"
            android:label="" />
        <activity
            android:name=".UserList.UserList"
            android:label="" />
        <activity
            android:name=".Comment.Comment"
            android:label="" />
        <activity
            android:name=".Message.Message"
            android:label="" />
        <activity
            android:name=".Change.Change"
            android:label="" />

        <service
            android:name=".MessageService.MessageService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Setting.Setting"
            android:label="" />
        <activity android:name=".Box.Box"
            android:label=""/>
    </application>

</manifest>